/*COMMON STYLE*/
.container{
    margin: 0 auto;
    width: 1160px;

}

.colored-text {
    color: #18cfab;
    font-weight: 700;
}

.flex{
    display: flex;
    justify-content: space-between;

}
.btn{
    border: none;
    border-top: 4px solid white;
    border-radius: 5px;
    padding: 30px 25px 22px 25px;
    text-transform: uppercase;
    margin-right: 28px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
}
.btn-flex{
    display: flex;
    justify-content: center;
}
.title{
    font-family: Montserrat, sans-serif;
    font-size:36px;
    margin-top: 82px;
    margin-bottom: 50px;
    text-align: center;
}
.title::after{
    display: block;
    content: '';
    width: 90px;
    height: 1px;
    background-color: #18cfab;
    margin: 45px auto 0;
    box-shadow: 5px 5px  #18cfab;
}
/*HEADER*/

.header {
    background: url("../image-step/Sections-background/section-1(header).jpg") no-repeat fixed;
    background-size: cover;
    height: 1012px;
    font-family: Montserrat, sans-serif;

}
.wordpress-title{
    margin-top: 248px;
    font-size: 35px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}
.wordpress-subtitle{
    margin-top: 45px;
    font-size: 70px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}
.wordpress-text{
    margin-top: 36px;
    font-size: 39px;
    color: #bfbfbf;
}
.buttons{
    margin-top: 142px;
    margin-bottom: 248px;
}

.green-btn{
    background-color: #18cfab;
}
.blue-btn{
    background-color: #00cbf6;
}
.header-text-align{
    text-align: center;
}

/*NAVBAR*/

.navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 120px;
}
.navbar-logo {
    display: flex;
    align-items: center;
    color: white;

}
.navbar-nav-logo {
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}
.nav-logo{
    background-color: #18cfab;
    padding: 1px 1px;
}
.navbar-nav{
    display: flex;
    align-items: center;
}
.nav-link {
    padding: 55px 17px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(0 ,0 ,0 ,0 ) ;
    transition: 0.5s;
}
.nav-link:hover{
    border-bottom:2px solid #18cfab;
    color: #18cfab;
    transition: 0.5s;
}
.navbar-nav .fas{
    color: #f8fcfe;
}
.fas{
    color: #ffffff;
    transition: 0.5s;
    font-size: 17px;
}
.fas:hover {
    transition: 0.5s;
    color: #18cfab;
}
/*ADVERT TILES*/

.icons{
    display: flex;
}
.icon-img{

}
.icon-block{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25%;
    height: 374px;
    border-top: 5px solid #18cfab;
    background-color: #1c2a33;
    color: #18cfab;

}
.icon-block:nth-child(even){
    border-top: 5px solid #ffffff;
    background-color: #18cfab;
    color: #ffffff;
}
.icon-info{
    display: flex;
    flex-direction: column;
    min-height: 159px;
    justify-content: space-between;
    align-items: center;
}
.icon-text{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;


}
/*OUR SERVICE*/
.our-services{
    text-align: center;
}
.our-services-title{

}
.our-services-text{
    margin-left: 20px;
    width: 580px;
}
/*TABS*/
.tabs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tabs-caption{
    display: flex;
    margin-bottom: 24px;
}
.tabs-title.active{
    background-color: #18cfab;
    color: #ffffff;
}
.tabs-title {
    margin-top: 28px;
    padding: 20px;
    background-color: #f8fcfe;
    color:#7a7a7a;
    border: 1px solid gray;
    cursor: pointer;
}
.tabs-content{
    display: none;
}
.tabs-content.active{
    display: flex;
    text-align: left;
}
/*PURCHASE*/
.purchase-block{
    margin-top: 100px;
    background:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../image-step/Sections-background/section-2.jpg") no-repeat fixed;
    width: 100%;
    background-size: cover;
    height: 476px;
    font-family: Montserrat, sans-serif;
}
.purchase-block-title{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 128px;
}
.purchase-block-subtitle{
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    padding-top: 35px;
}
.purchase-btn{
    background-color: #18cfab;
    margin-left: 500px;
    margin-top: 80px;
}

/*OUR AMAZ WORK*/
.our-amaz-work{
    display: flex;
    background-color: #f8fcfe;
    border-bottom: 1px solid gray;
}
.our-work-tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
.our-work-tab{
    border: 1px solid gray;
    padding: 24px 25px;
    list-style-type: none;
    font-size: 20px;
}
.our-work-tab:hover{
    color: #18cfab;
    border-top: 1px solid #18cfab;
}
.our-work-images{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 96px;
}
.our-work-btn{
    background: #18cfab;
    color: #ffffff;
    font-size: 14px;
    padding: 25px 22px;
    border: none;
    margin-bottom: 50px;
    margin-right: 5px;
}
.our-work-btn:nth-child(2){
    display: none;
}
.our-work-tab.active{
    color: #18cfab;
    border-top: 1px solid #18cfab;
}
.our-work-item:hover .our-work-img{
    display: none;
}
.our-work-item:hover .our-work-item-layer{
    display: flex;
}
.our-work-item-layer{
    background-color: #f8fcfe;
    display: none;
    width: 284px;
    height: 203px;
    border-top: 3px solid #18cfab;
    align-items: center;
    flex-direction: column;
}
.our-work-layer-link{
    border-radius: 50%;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    margin-right: 6px;
    margin-top: 45px;
    border: 1px solid #47d8bc;

}
.our-work-layer-link:hover {
    background-color: #47d8bc;
    transition: 0.3s;
}
.our-work-layer-link:hover .fas{
    color: #f8fcfe;
}
.fas{
    color: #47d8bc;
}
.our-work-layer-title{
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 20px;
}
.our-work-layer-text{
    font-size: 20px;
    font-family: Montserrat, sans-serif;
}

/*BREAKING-NEWS*/
.news{
    display: flex;
    flex-wrap: wrap;
    font-family: Montserrat, sans-serif;
}
.news-block{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 263px;
    height: 280px;
    background-color: #f8fcfe;
    margin-right: 28px;
    margin-bottom: 45px;
    border: 1px solid #ececec;
}
.news-block:nth-child(4n){
    margin-right: 0;
}
.data {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 20px;
    background-color: #203e38;
    color: #ffffff;
    line-height: 1.2;
    font-size: 16px;
}
.news-block:hover .data {
    background-color: #18cfab;
    cursor: pointer;
}
.news-title{
    font-size: 18px;
    color: #717171;
    margin: 14px 0 14px 13px;
    text-transform: capitalize;
    font-weight: 700;
}
.news-block:hover .news-title{
    color: #18cfab;
    cursor: pointer;
}
.news-comment{
    font-size: 14px;
    color: #777777;
    margin-left: 17px;
}
/*FOOTER*/
.footer{
    background: url("../image-step/Sections-background/section-3.jpg") no-repeat fixed;
    background-size: cover;
    height: 600px;
    font-family: Montserrat, sans-serif;
}
.footer-title{
    color: #f8fcfe;
    padding-top: 80px;
}
.slide-info{
    color: #f8fcfe;
    text-align: center;
    font-size: 16px;

}
.slide-author{
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.slide-picture{
    color: #f8fcfe;
    margin-left: -320px;

}


.slide-prof{
    font-size: 10px;
}
.slide-images{

}
.slick-slide{
    width: 65px;
    position: relative;
    margin-right: 30px;
}

.slide-fas{
    margin-top: 50px;
    margin-bottom: 30px;
    color: #47d8bc;
    text-align: center;
}
.picture-cont{
    width: 65px;
    height: 65px;
    max-width: 65px;
    max-height: 65px;
    border-radius: 50%;
    border: #47d8bc 3px solid;
}
.help{
    margin-bottom: 20px;
    margin-top: 10px;
}
.option1{
    background-image: url("../image-step/slider/slide1.png");
}
.option2{
    background-image: url("../image-step/slider/slide2.png");
}
.option3{
    background-image: url("../image-step/slider/slide3.png");
}
.option4{
    background-image: url("../image-step/slider/slide4.png");
}
