.container{
    width: 1280px;
    margin: 0 auto;
}

.logo-color{
    color: #4bcaff;
}
.active{
    background-color: #222f3a;
}
.clearfix {
    clear: both;
}
/*HEADER*/
.header{
    margin-left: 75px;
}
.header-logo{
    margin-top: 55px;
    margin-bottom: 45px;
}
.header-logo-link{
    text-decoration: none;
    font-size: 80px;
    font-family: Arial,sans-serif;
    color: #000;
}
/*NAVBAR*/
.navbar{
    background-color: #35444f;
    margin-right: 40px;
}
.header-navbar{
    margin-left: 100px;
    margin-bottom: 51px;
    padding-left: 50px;
}
.header-navbar-item{
    display: inline-block;

    padding: 24px 0px;
    transition: 0.4s;
}
.header-navbar-item:hover{
    background-color: #222f3a;

}

.header-navbar-link{
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 24px;
    padding: 24px 41px;
 }

/*SIDEBAR*/
.main-content-side-bar{
    display: inline-block;
    margin-left: 40px;
    width: 345px;
    height: 402px;
    box-sizing: border-box;
    border: 1px solid #000000;
    float: left;
}

.side-bar-link{
    display: inline-block;
    width: 343px;
    box-sizing: border-box;

    text-decoration: none;
    color: #aab1b6;
    font-size: 25px;
    font-family: Arial, sans-serif;
    transition: 0.4s;
    padding-left: 44px;
    padding-bottom: 27px;
    padding-top: 28px;
}
.side-bar-link:hover{
    background-color: #dbdbdb;
    color: #000;
}

/*MAIN IMG*/

.main-content-img-box{
    display: inline-block;
    float: right;
    width: 800px;
    height: 530px;
    box-sizing: border-box;
    border: 1px solid #000000;
    background-image: url("../img/main-img.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
}
/*MAIN TEXT*/
.main-content-text{
    margin-left: 525px;
    margin-bottom: 50px;
}
.main-content-paragraph{
    font-size: 18px;
    font-family: Arial, sans-serif;
    padding-bottom: 30px;
    text-align: left;
}
/*FOOTER*/
.footer{
    background-color: #b4b7ba;
    margin-left: 75px;
    margin-right: 32px;
}
.footer-bar{
    display: inline-block;
    margin-left: 44px;
}
.footer-bar-item{
    display: inline-block;
    padding: 21px 0;
    margin-right: 25px;
}
.footer-bar-link{
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 28px;
    text-align: left;
    color: #000;
}
.footer-bar-link:hover{
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
}
.footer-copyrigt{
    display: inline-block;
    font-size: 24px;
    margin-left: 100px;
    font-family: Arial, sans-serif;
}