.header{


}
.head-img{
    background-image: url(../img/head-img.png);
    height: 790px;
    background-size: cover;
}
.container{
    width: 1170px;
    margin: 0 auto;
}

.header-navbar{
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 35px;
    margin-left: 332px;

}
.header-navbar-item{
    display: inline-block;
    padding-right: 65px;

}
.header-navbar-link{
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    color: #16a085;
}
.main-content{

    background-color: #f5f6f7;
}
.main-slogan{
    padding-top: 56px;
    padding-bottom: 34px;
    font-size: 22px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #373737;
    text-transform: uppercase;
}
.main-text{
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #373737;
    text-align: center;
    padding-bottom: 31px;

}
.main-btn{
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #16a085;
    background-color: #16a085;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    margin-left:  521px;
    margin-bottom: 94px;
}
.copyright-text{
    padding-left: 768px;
    padding-top: 47px;
    padding-bottom: 45px;
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #373737;
}